<style>
#modal1 {
  position: fixed;
  top: 10%;
  left: 10%;
  z-index: 1050;
  width: 70%;
  margin-left: 40px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
</style>
<!-- Modal With Tab Content -->
<div id="modal1" class="modal hide" >
<!--<div class="modal-header">
		<h4 id="myModalLabel">Adicione Mac da central para Liberar os serviços</h4>
	</div> -->
	
	<div class="modal-body " style="border: none;">
			<form id="EquipmentForm" name="EquipmentForm" class="form-horizontal" > 
			
				<div class="control-group">
					<label style="text-align: center;">Liberar serviços para a central com o MAC <select  id="equipments" name="equipments" class="span2"></select></label>
				</div>
				
			</form>
	</div>
	<div class="modal-footer">
		<button class="btn" id="btnClose">Fechar</button>
		<button class="btn btn-primary" id="btnSearchMacForFreeServices" >Comprar</button>
	</div>
</div>
<!--/ Modal With Tab Content -->
